div.menu-position-fixed {
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 15px;
    padding-right: 15px;
    width: 1349px;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    padding: 15px;
    margin: 0px;
    z-index: 10;
    color: rgb(226, 143, 116);

}

nav.menu {
    box-sizing: border-box;
    display: flex;
    padding: 7.5px;
    position: relative;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgb(26, 36, 86);
    padding-right: 7.5px;
    padding-left: 7.5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 11px 35px 0px;
    flex-direction: row;
    letter-spacing: 2px;
    top: 0px;
    transition: top 0.3s ease 0s;
    width: 1319px;


}

div.navbar {
    box-sizing: border-box;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;


}


div.navbar ul {
    box-sizing: border-box;
    margin-bottom: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    list-style: outside none none;
    padding-left: 0px;


}

div.navbar a.menu {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none solid rgb(226, 143, 116);
    display: block;
    padding: 7.5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    font-weight: 400;
    margin-left: 12px;
    transition: 0.3s;

}
div.navbar a.menu:hover{
    color:rgb(179, 108, 85);
    font-size:13pt;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

div.navbar button{
    display: flex;
    z-index: 20;
    background-color:rgba(0, 0, 0, 0.0);
    border: none;
    color:rgb(226, 143, 116) ;
    font-size: 13pt;
    margin-top: 7px;
    margin-left: 12px;
    transition: .6s;
}
div.navbar button:hover{
    font-size: 16pt;
    font-weight: bold;
    color:rgb(179, 108, 85);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}
.Hidemenu{
    display: flex;
    position: absolute;
    left: 740px;
    top: 51px;
}
.Hidemenu ul{
    display: flex;
    flex-direction: column;
    background-color: rgba(3, 2, 53, 0.8);
    list-style: none;
    border-radius: 10px;
    text-align: left;
    padding: 0px;
}
.Hidemenu li{
    width: 230px;
    text-align: left;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    text-indent: 9px;
}
.Submenuappear{
    font-size: 12pt;
    margin: 3px;
    transition: .3s;

}
.Submenuappear:hover {
    background-color: rgba(3, 2, 53, 0.3);
    color:rgb(179, 108, 85);
    font-size:13pt;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.Submenu{
    font-size: 0pt;
}

